In [ ]:
print('Escola de Dados da Alura!.')
seu_nome = 'Raul'
seu_sobrenome = 'Victor'
print('Nome:',seu_nome)
print('Sobrenome:',seu_sobrenome)
print("R\nA\nU\nL")
print(28, 'fevereiro', 2003)
print("28/fevereiro/2003")
ano = 2024
print('ano atual:',ano)

Escola de Dados da Alura!.
Nome: Raul
Sobrenome: Victor
R
A
U
L
28 fevereiro 2003
28/fevereiro/2003
ano atual: 2024